.pageLoading {
	background-color: #db5800;
	position: absolute;
	z-index: 100;
	margin-top: 0px;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	.loading-center-absolute {
		position: absolute;
		left: 50%;
		top: 50%;
		height: 20px;
		width: 100px;
		margin-top: -10px;
		margin-left: -50px;
	}
	.object {
		width: 20px;
		height: 20px;
		background-color: #fff;
		-moz-border-radius: 50% 50% 50% 50%;
		-webkit-border-radius: 50% 50% 50% 50%;
		border-radius: 50% 50% 50% 50%;
		margin-right: 20px;
		margin-bottom: 20px;
		position: absolute;
	}
	#object_0 {
		-webkit-animation: object 2s linear infinite;
		animation: object 2s linear infinite;
	}

	#object_1 {
		-webkit-animation: object 2s linear infinite -0.4s;
		animation: object 2s linear infinite -0.4s;
	}

	#object_2 {
		-webkit-animation: object 2s linear infinite -0.8s;
		animation: object 2s linear infinite -0.8s;
	}

	#object_3 {
		-webkit-animation: object 2s linear infinite -1.2s;
		animation: object 2s linear infinite -1.2s;
	}

	#object_4 {
		-webkit-animation: object 2s linear infinite -1.6s;
		animation: object 2s linear infinite -1.6s;
	}
}

@keyframes object {
	0% {
		left: 100px;
		top: 0;
	}

	80% {
		left: 0;
		top: 0;
	}

	85% {
		left: 0;
		top: -20px;
		width: 20px;
		height: 20px;
	}

	90% {
		width: 40px;
		height: 15px;
	}

	95% {
		left: 100px;
		top: -20px;
		width: 20px;
		height: 20px;
	}

	100% {
		left: 100px;
		top: 0;
	}
}
